.featured__subtitle {
    font-size: var(--size-sm);
    color: var(--clr-indigo);
    text-transform: capitalize;
    font-weight: 400;
}

.featured__title {
    font-size: var(--size-2xl);
    color: var(--clr-ligth);
    text-transform: uppercase;
}

.featured__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.featured__link {
    width: var(--size-2xl);
    height: var(--size-2xl);
}

.featured__description {
    max-width: 60ch;
}

@media (min-width: 475px) {

    .featured__subtitle {
        font-size: var(--size-base);
    }

    .about__title {
        font-size: var(--size-3xl);
    }

    .featured__link {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }
}

/* @media (min-width: 640px) {

} */

/* @media (min-width: 768px) {

} */

@media (min-width: 1024px) {

    .featured__subtitle {
        font-size: var(--size-lg);
    }

    .featured__title{
        font-size: var(--size-4xl);
    }

    .featured__link {
        width: var(--size-4xl);
        height: var(--size-4xl);
    }
}

@media (min-width: 1280px) {

    .featured__subtitle {
        font-size: var(--size-xl);
    }

    .featured__title{
        font-size: var(--size-5xl);
    }

    .featured__link {
        width: var(--size-5xl);
        height: var(--size-5xl);
    }
}

/* @media (min-width: 1536px) {

} */